.navbar {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 42px;
  height: 42px;
  object-fit: contain;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-links a,
.nav-links button {
  position: relative;
  font-weight: 500;
  transition: var(--transition);

  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
}

.nav-links a:hover,
.nav-links button:hover {
  color: var(--color-accent);
}

.nav-links a::after,
.nav-links button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: var(--color-accent);
  transition: var(--transition);
}

.nav-links a:hover::after,
.nav-links button:hover::after {
  width: 100%;
}

.navbar h2 {
  font-weight: 600;
}
